/** this takes up whole page **/
/*html {

	height: 100%;
}
*/

body {
	padding: 1vw;
}


textarea {
	background-color: seashell;
	padding: 10px;
}

button {
	background-color: burlywood;
}

input {
	background-color: bisque;
}

select {
	background-color: seashell;
}