.page_content {
	display: flex;
}

.page_div {
	border: 2px solid;
	width: 50vw;
	height: 97vh;

	font-size: 1rem;
	
}

textarea {
	padding: 10px;
	font-size: 2rem;
	margin-left: 20px;
	min-width: 90%;
	min-height: 88%;
}

/* can also do this in css select child */
.Nav ul{
	display: flex;
	justify-content: space-around;
}

.Nav a{
	
}