.page_content {
	border: 2px solid;
	width: 100vw;
	height: 95vh;

	/** if content goes outside div just use overflow scroll**/
	overflow: scroll;

	padding: 10px;

	background-color: wheat;

	text-overflow: ellipsis;

	overflow: hidden;
	white-space: nowrap;
}


/** line clamp source - https://css-tricks.com/almanac/properties/l/line-clamp/**/
.hide_overflow {

	font-size: 2em;

	width: 50vw;

	text-overflow: ellipsis;

	overflow: hidden;
	white-space: nowrap;

}

.button_display {

	width: 50vw;

	display: flex;

	justify-content: space-evenly;

	height: 32px;	

}

.parent_display {

	display: flex;

	align-items: center; /**vertical align**/

}

.parent_display:hover {

	font-weight: bold;
	background-color: burlywood;
}

/*.info_body {
	border: 2px solid;
	width: 50vw;
	height: 95vh;


	/** if content goes outside div just use overflow scroll**/
	overflow: scroll;

	padding: 10px;

	background-color: seashell;

}
*/

.can_click:hover {
	font-weight: bold;
	background-color: burlywood;
}

/** To wrap a pre tag, use whitesapce, so uhh there are other properties but as long as it works so yeah **/
pre {
	white-space: pre-wrap;
}

button {
	background-color: seashell;
}
