<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_ID</key>
	<string>$(APPLICATION_ID)</string>
	<key>REST_API_KEY</key>
	<string>$(REST_API_KEY)</string>
	<key>SECRET_KEY</key>
	<string>$(SECRET_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Georgia.ttf</string>
		<string>Monaco.ttf</string>
		<string>Arial Rounded Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>App communicates using Core Bluetooth</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
