//
//  secrets.xcconfig
//  BluetoothPairing
//
//  Created by Nirmal kumar on 04/08/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SECRET_KEY = "AIzaSyAOAkVe01fMcRedSi2yXhwK8Yg3UdJHPXI"
APPILICATION_ID = "yQnKHdwqhEVEgNEFr5V5hxFWzhFp2sMpn2AU6P9s"
REST_API_KEY = "KxwFJm85xBPLZW3UvMEhLtep38AWiRSiXf9rXT7n"
