<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_ID</key>
	<string>$(APPLICATION_ID)</string>
	<key>DEV_API_URL</key>
	<string>$(DEV_API_URL)</string>
	<key>DEV_CDN_URL</key>
	<string>$(DEV_CDN_URL)</string>
	<key>DRIVER_ID</key>
	<string>$(DRIVER_ID)</string>
	<key>GOOGLE_API_KEY</key>
	<string>$(GOOGLE_API_KEY)</string>
	<key>LIVE_API_URL</key>
	<string>$(LIVE_API_URL)</string>
	<key>LIVE_CDN_URL</key>
	<string>$(LIVE_CDN_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>REST_API_KEY</key>
	<string>$(REST_API_KEY)</string>
	<key>SESSION_TOKEN</key>
	<string>$(SESSION_TOKEN)</string>
	<key>UIAppFonts</key>
	<string></string>
</dict>
</plist>
